.btn{
	@include transition(all .2s ease);
	@include user-select(none);
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	background: none;
	cursor: pointer;
	overflow: visible;
	position: relative;
	border: 3px solid #0085a1;
	border-radius: 30px;
	color: #0085a1;
	font-size: 14px;
	padding: 17px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
	text-align: center;
	text-transform: uppercase;

	&:hover{
		border-color: #5ac2a7;
		color: #5ac2a7;
	}

	&.disabled{
		opacity: .5;
		cursor: default;
		border-color: #0085a1 !important;
		color: #0085a1 !important;
	}

	&.arr-btn{

		padding: 0;

		& > span{
			position: relative;
			display: block;
			padding: 17px;	
			border-radius: 30px;

			&:before{
				display: block;
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -6px;
			}			
		}
 

	}


	&.btn-prev{
		

		& > span{
			position: relative;
			padding: 17px 17px 17px 39px;

			&:before{
				@extend .sp-arr-prev;
				left: 65px;
			}			
		}

	}	

	&.btn-next{
		

		& > span{
			position: relative;
			padding: 17px 39px 17px 17px;

			&:before{
				@extend .sp-arr-next;
				right: 65px;
			}			
		}

	}


}