.owlCarousel{
	position: relative;

	.owl-wrapper{
		position: relative;

		@include transform(translate3d(0,0,0));
	}

	.owl-wrapper-outer{
		overflow: hidden;
		max-width: 100%;
	}

	.owl-item{
		float: left;
	}

	.autoHeight{
		@include transition(all .5s ease);
	}
}