.bg-slides{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	min-width: $lg;
	
	@include breakpoint($max: $lg) {
		left: 50%;
		margin-left: - $lg / 2;
	};

}

.top-intro{
	padding: 13.35rem 0 0 0;
	margin: 0 0 7rem;
	position: relative;
	z-index: 2;

	h1{
		color: #fff;
		text-shadow:0 0 10px rgba(#222, .4);
		margin-left: -4px;
	}
}

.item-section{
	background: #fff;
	padding: 3.8rem 3.8rem 3.8rem;
	box-shadow: 0 5px 20px rgba(#000, .1);
	margin: 0 0 2rem;

	.images{
		overflow: hidden;
		position: relative;
		max-width: 677px;
		width: 67%;

		.image{
			position: relative;
			height: 0;
			padding-bottom: 56.25%;

		}

		img{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		@include breakpoint($max: $sm){
			float: none;
			width: 100%;
			max-width: 100%;

			img{
				width: 100%;
			}
		};
	}

	.data-sections{
		overflow: hidden;
		padding: 0 0 0 4rem;
		width: 33%;
		line-height: 4.25rem;

		h2{
			margin: -1px 0 3.2rem 0;
			font-size: 4.8rem;

			@include breakpoint($max: $lg){
				font-size: 4.8rem;
			};			
		}


		@include breakpoint($max: $sm){
			float: none;
			width: 100%;
			max-width: 100%;
			padding: 4rem 0 0 0;
		};

	}
}

.socials{
	padding: 54px 0 0 1px;

	span{
		@include transition(all .2s ease);
		cursor: pointer;
		margin: 0 7px 0 0;

		&:hover{
			opacity: .8;
		}
	}
}