//font-family: 'Open Sans', sans-serif;


@font-face {
  font-family: 'MyriadPro-Regular';
  src: font-url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  font-url('MyriadPro-Regular.otf')  format('opentype'),
	     font-url('MyriadPro-Regular.woff') format('woff'), font-url('MyriadPro-Regular.ttf')  format('truetype'), font-url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'LetoSlab';
  src: font-url('LetoSlab.eot?#iefix') format('embedded-opentype'),  font-url('LetoSlab.woff') format('woff'), font-url('LetoSlab.ttf')  format('truetype'), font-url('LetoSlab.svg#LetoSlab') format('svg');
  font-weight: normal;
  font-style: normal;
}
