*, *:after, *:before{
	@include box-sizing(border-box);
}


body, html{
	height: 100%;
}

.global{
	background: #fff;
	max-width: 100%;
	position: relative;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	overflow: hidden;
	padding-bottom: 70px;
}

.container{
	@include pie-clearfix();
	max-width: $lg;
	padding: 0 20px;
	margin: 0 auto;	
}

.content{
	position: relative;
	z-index: 20;
}