.slides-navigation{
	margin: 0 0 2rem;
	position: relative;
 	height: 32px;

	@include breakpoint($max: $xsm){
		height: 24px;
	};



	.line{
		@include translate(0, -48%, 0);
		@include transition(width .2s ease);
		content: '';
		position: absolute;
		width: 0px;
		height: 6px;
		background: #5ac2a7;
		top: 50%;
		margin: 0;
		padding: 0;
		left: 0;
	}

	&:before{
		@include translate(0, -50%, 0);
		display: block;
		content: '';
		width: 100%;
		height: 6px;
		background: #e5e5e5;
		position: absolute;
		left: 0;
		top: 50%;
		 
	}

}
 
.nav-pagination{
	padding: 0;
	list-style-type: none;
	position: relative;
	text-align: justify;
 	line-height: 0;

	li{
		@include user-select(none);
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 2;
		top: 2px;

		&:last-child{
			margin-right: -3px;
		}

		&:first-child{
			margin-left: -3px;
		}

		span{
			@include transition(all .4s ease);
			display: block;
			width: 28px;
			height: 28px;
			position: relative;
			text-align: center;
			line-height: 29px;
			color: #707070;
			background: #e5e5e5;
			border-radius: 100%;
			cursor: pointer;
			font-size: 1.5rem;

			@include breakpoint($max: $xsm){
				 width: 20px;
				 height: 20px;
				 line-height: 21px;
				 font-size: 1.3rem;
			};

		}

		&.current, &:hover{
			span{
				color: #fff;
				background: #5ac2a7;
			}
		}

	}

	&:after{
		display: inline-block;
		content: '';
		width: 100%;
		line-height: 0;
		height: 0;
	}
}


.nav-buttons{

	margin: 0 0 37px;

	.btn{
		margin: 0 23px;
		min-width: 273px;

		@include breakpoint($max: $sm) {
			margin: 0 5px 20px;
			font-size: 2rem;
			min-width: 200px;

			&.btn-prev{
				span{
					&:before{
						left: 20px;
					}
				}
			}			

			&.btn-next{
				span{
					&:before{
						right: 20px;
					}
				}
			}

		};		

		@include breakpoint($max: 480px) {
			margin: 0 2px 20px;
			min-width: 70px;
			font-size: 1.5rem;

			span{
				span{
					position: relative;
					top: 1px;
				}
			}
		};		

		@include breakpoint($max: 360px) {
			margin: 0 10px 20px;
			min-width: 0;
			font-size: 1.5rem;

			span{
				span{
					display: none;
				}
			}


			&.btn-prev{
				span{
					&:before{
						left: 22px;
					}
				}
			}			

			&.btn-next{
				span{
					&:before{
						right: 22px;
					}
				}
			}

		};

	}
}