.things{


	.top-intro{
		padding: 13.35rem 0 0 0;
		margin: 0 0 7rem;
		position: relative;
		z-index: 2;

		h1{
			color: #fff;
			text-shadow:0 0 10px rgba(#222, .4);
			margin-left: -4px;
		}
	}




	.slide-title{
		color: #fff;
		font-size: 5rem;
		line-height: 1;
		margin: 0 0 6.6rem;

		span{
			font-weight: bold;
			margin: 0 10px 0 0;
		}

		.container{
			padding: 0;
		}
	}


	.item-section{

		.images{
		 	width: 100%;
		 	max-width: 100%;
		}

		.data-sections{
		 	width: 100%;
		 	padding: 3rem 0 0 0rem;
			line-height: 4.25rem;
		}
	}

}