.tips{

	

	.bg-slides{

		min-width: 1900px;
		@include breakpoint($max: 1900px) {
			left: 50%;
			margin-left: -950px;
		};

	}




	.top-intro{
		padding: 13.35rem 0 0 0;
		margin: 0 0 7rem;
		position: relative;
		z-index: 2;

		h1{
			color: #fff;
			text-shadow:0 0 10px rgba(#222, .4);
			margin-left: -4px;
		}

		p{	
			text-shadow:0 0 10px rgba(#222, .4);
			margin: 0;
			color: #fff;
		}
	}




	.slide-title{
		color: #fff;
		font-size: 5rem;
		line-height: 1;
		margin: 0 0 6.6rem;

		span{
			font-weight: bold;
			margin: 0 10px 0 0;
		}

		.container{
			padding: 0;
		}
	}


	.item-section{
		padding: 0;
		box-shadow: 0 0 5px rgba(#000, .3);

		.images{
		 	width: 100%;
		 	max-width: 100%;

		 	.image{
		 		height: auto;
		 		padding: 0;
		 		position: relative;

		 		img{
		 			position: relative;
		 		}

		 		h2{
					color: #fff;
					font-size: 3.8rem;
					font-weight: bold;
					position: absolute;
					left: 0;
					bottom: 2rem;
					padding: 0 3rem;
					text-shadow:0 0 10px rgba(#222, .4);
					width: 100%;

					&.right{
						text-align: right;
					}
		 		}
		 	}
		}

		.data-sections{
		 	width: 100%;
		 	padding: 4rem 5rem;
			line-height: 4.25rem;

			b{
				font-weight: bold;
				color: #000;
			}

			p{
				margin-bottom: 0;
				& + p{
					margin-top: 3rem;
				}
			}
		}
	}

	.slides-navigation .line{
		background: #4976cb;
	}

	.nav-pagination li.current span, .nav-pagination li:hover span{
		background: #4976cb;
	}


	.btn{
		color: #fff;
		border-color: #fff;

		&:hover{
			opacity: .8;
		}

		&.disabled {
			border-color: #fff !important;
			color: #fff !important;
		}
	}

	.btn.btn-prev > span:before{
		@extend .sp-arr-prev-white;
	}	

	.btn.btn-next > span:before{
		@extend .sp-arr-next-white;
	}

	.socials{
		padding: 20px 0 0 0;
	}

}