html{

	font-size: 62.5%;	

	&.page{
		font-size: 62.5%;

		@include breakpoint($max: $md) {
			font-size: 50.5%;
		};

		@include breakpoint($max: $sm) {
			font-size: 40.5%;
		};



		#goc-mask{
			& + .mhc{
				position: fixed;
				left: 0;
				top: 23px;
				margin: 0;
				width: 100%;
				z-index: 30;

				@include breakpoint($max: $md){
					position: relative;
					top: 0;
				};


			}
		}
	}

}

body{
	font-family: 'MyriadPro-Regular';
	color: #000;
	font-size: 2.4rem;
	line-height: 1.2;
}


p{
	margin: 0 0 2rem;
}

h1{
	font-size: 5.8rem;
	line-height: 1;
	font-weight: normal;
	margin: 0 0 1rem;
}

h2{
	@extend h1;
	color: #0085a1;
}

h3{
	color: #0085a1;
	font-size: 3.5rem;
	line-height: 1.45;
	letter-spacing: .35px;
	margin-bottom: 3.5rem;
}