@import "compass";
@import "compass/reset";
@import "utils";

@import "vars";

$lg: 1327px;

@import "fonts";
@import "grid";


html.page{

	#goc-mask{
		& + .mhc{
			position: fixed;
			left: 0;
			top: 23px;
			margin: 0;
			width: 100%;
			z-index: 30;

			@include breakpoint($max: $md){
				position: relative;
				top: 0;
			};


		}
	}
}


.global{
	background:  image-url('indexbg.jpg') center 0 no-repeat;
	background-size: cover;
 	height: 100%;
 	padding-top: 146px;
 	font-family: 'LetoSlab';
 	color: #fff;
 	line-height: 1.2;
 	font-size: 14px;


	@include breakpoint($max: $md) {
		padding-top: 68px;
	};


	@include breakpoint($max: $xsm) {
		padding-top: 40px;
	};

}

.baner{
	margin-bottom: 71px;
	box-shadow: 0 0 10px rgba(#000,.4);
}


.page-title{
	font-size: 36px;
	font-weight: bold;
	margin: 0 0 -2px;

	@include breakpoint($max: 820px) {
		margin-bottom: 45px;
	};

	.dsn{
		display: inline-block;
		vertical-align: top;
		margin: -25px 5px 0 -7px;

		@include breakpoint($max: 520px) {
			display: block;
			margin: 10px 0 0 0;
		};

	}
}

a{
	color: #fff;
	text-decoration: underline;

	&:hover{
		text-decoration: underline;
	}
}

h2{
	color: #fff;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 24px;
}

.sections-row{

	font-size: 0;
	margin-bottom: 32px;

	.item{
		@include backface-visibility(hidden);
		-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
		display: inline-block;
		vertical-align: top;
		width: 23.5%;
		font-size: 14px;
		margin-right: 2.2%;
		margin-bottom: 22px;
		overflow: hidden;
		border-radius: 40px;
		box-shadow: 0 0 10px rgba(#000, .5);

		&:hover{
			.thumb{
				img{
					opacity: 0.8;
				}
			}
		}

		@include breakpoint($max: $md) {
			width: 30%;
		};


		@include breakpoint($max: $sm) {
			width: 46%;
		};		

		@include breakpoint($max: $xsm) {
			width: 100%;
			margin-right: 0;
		};
	}

	.thumb{
		position: relative;
		background: #fff;

		img{
			@include transition(opacity .2s ease);
			display: block;
			width: 100%;
		}
	}

	.title{
 		background: #fff;
		padding: 3% 10% 5% 16%;
		color: #1e1845;
		text-decoration: none;
		line-height: 1.5;
	}
}