html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.col {
  float: left;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.inline {
  display: inline-block;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?&1424340499#iefix') format("embedded-opentype"), url('../fonts/MyriadPro-Regular.otf?1424340499') format("opentype"), url('../fonts/MyriadPro-Regular.woff?1424340499') format("woff"), url('../fonts/MyriadPro-Regular.ttf?1424340499') format("truetype"), url('../fonts/MyriadPro-Regular.svg?1424340499#MyriadPro-Regular') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LetoSlab';
  src: url('../fonts/LetoSlab.eot?&1423591013#iefix') format("embedded-opentype"), url('../fonts/LetoSlab.woff?1423591013') format("woff"), url('../fonts/LetoSlab.ttf?1423591013') format("truetype"), url('../fonts/LetoSlab.svg?1423591013#LetoSlab') format("svg");
  font-weight: normal;
  font-style: normal;
}
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.global {
  background: #fff;
  max-width: 100%;
  position: relative;
  min-height: 100%;
  height: 100%;
  height: auto !important;
  overflow: hidden;
  padding-bottom: 70px;
}

.container {
  *zoom: 1;
  max-width: 1327px;
  padding: 0 20px;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  position: relative;
  z-index: 20;
}

html.page #goc-mask + .mhc {
  position: fixed;
  left: 0;
  top: 23px;
  margin: 0;
  width: 100%;
  z-index: 30;
}
@media (max-width: 992px) {
  html.page #goc-mask + .mhc {
    position: relative;
    top: 0;
  }
}

.global {
  background: url('../images/indexbg.jpg?1425049317') center 0 no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 146px;
  font-family: 'LetoSlab';
  color: #fff;
  line-height: 1.2;
  font-size: 14px;
}
@media (max-width: 992px) {
  .global {
    padding-top: 68px;
  }
}
@media (max-width: 480px) {
  .global {
    padding-top: 40px;
  }
}

.baner {
  margin-bottom: 71px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.page-title {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 -2px;
}
@media (max-width: 820px) {
  .page-title {
    margin-bottom: 45px;
  }
}
.page-title .dsn {
  display: inline-block;
  vertical-align: top;
  margin: -25px 5px 0 -7px;
}
@media (max-width: 520px) {
  .page-title .dsn {
    display: block;
    margin: 10px 0 0 0;
  }
}

a {
  color: #fff;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}

h2 {
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 24px;
}

.sections-row {
  font-size: 0;
  margin-bottom: 32px;
}
.sections-row .item {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  display: inline-block;
  vertical-align: top;
  width: 23.5%;
  font-size: 14px;
  margin-right: 2.2%;
  margin-bottom: 22px;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sections-row .item:hover .thumb img {
  opacity: 0.8;
}
@media (max-width: 992px) {
  .sections-row .item {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .sections-row .item {
    width: 46%;
  }
}
@media (max-width: 480px) {
  .sections-row .item {
    width: 100%;
    margin-right: 0;
  }
}
.sections-row .thumb {
  position: relative;
  background: #fff;
}
.sections-row .thumb img {
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  display: block;
  width: 100%;
}
.sections-row .title {
  background: #fff;
  padding: 3% 10% 5% 16%;
  color: #1e1845;
  text-decoration: none;
  line-height: 1.5;
}

/*# sourceMappingURL=index.css.map */
