html, body, div, span, applet, object, iframe,
h1,
h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.col {
  float: left;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.inline {
  display: inline-block;
}

.owlCarousel {
  position: relative;
}
.owlCarousel .owl-wrapper {
  position: relative;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.owlCarousel .owl-wrapper-outer {
  overflow: hidden;
  max-width: 100%;
}
.owlCarousel .owl-item {
  float: left;
}
.owlCarousel .autoHeight {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sp-sprite, .sp-arr-next-white, .tips .btn.btn-next > span:before, .sp-arr-next, .btn.btn-next > span:before, .sp-arr-prev-white, .tips .btn.btn-prev > span:before, .sp-arr-prev, .btn.btn-prev > span:before {
  background-image: url('../images/sp-s5fe307c15d.png');
  background-repeat: no-repeat;
}

.sp-arr-next-white, .tips .btn.btn-next > span:before {
  background-position: 0 0;
  height: 12px;
  width: 7px;
}
.sp-arr-next-white:hover, .tips .btn.btn-next > span:hover:before, .sp-arr-next-white.arr-next-white-hover, .tips .btn.btn-next > span.arr-next-white-hover:before {
  background-position: 0 -12px;
}

.sp-arr-next, .btn.btn-next > span:before {
  background-position: 0 -24px;
  height: 12px;
  width: 7px;
}
.sp-arr-next:hover, .btn.btn-next > span:hover:before, .sp-arr-next.arr-next-hover, .btn.btn-next > span.arr-next-hover:before {
  background-position: 0 -36px;
}

.sp-arr-prev-white, .tips .btn.btn-prev > span:before {
  background-position: 0 -48px;
  height: 12px;
  width: 7px;
}
.sp-arr-prev-white:hover, .tips .btn.btn-prev > span:hover:before, .sp-arr-prev-white.arr-prev-white-hover, .tips .btn.btn-prev > span.arr-prev-white-hover:before {
  background-position: 0 -60px;
}

.sp-arr-prev, .btn.btn-prev > span:before {
  background-position: 0 -72px;
  height: 12px;
  width: 7px;
}
.sp-arr-prev:hover, .btn.btn-prev > span:hover:before, .sp-arr-prev.arr-prev-hover, .btn.btn-prev > span.arr-prev-hover:before {
  background-position: 0 -84px;
}

.icons-sprite, .icons-fb, .icons-gl, .icons-mymir, .icons-od, .icons-tw, .icons-vk {
  background-image: url('../images/icons-s64d6f0e437.png');
  background-repeat: no-repeat;
}

.icons-fb {
  background-position: 0 0;
  height: 32px;
  width: 32px;
}

.icons-gl {
  background-position: 0 -32px;
  height: 32px;
  width: 32px;
}

.icons-mymir {
  background-position: 0 -64px;
  height: 32px;
  width: 32px;
}

.icons-od {
  background-position: 0 -96px;
  height: 32px;
  width: 32px;
}

.icons-tw {
  background-position: 0 -128px;
  height: 32px;
  width: 32px;
}

.icons-vk {
  background-position: 0 -160px;
  height: 32px;
  width: 32px;
}

[class*="-sprite"] {
  display: inline-block;
  vertical-align: top;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.global {
  background: #fff;
  max-width: 100%;
  position: relative;
  min-height: 100%;
  height: 100%;
  height: auto !important;
  overflow: hidden;
  padding-bottom: 70px;
}

.container {
  *zoom: 1;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  position: relative;
  z-index: 20;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?&1424340499#iefix') format("embedded-opentype"), url('../fonts/MyriadPro-Regular.otf?1424340499') format("opentype"), url('../fonts/MyriadPro-Regular.woff?1424340499') format("woff"), url('../fonts/MyriadPro-Regular.ttf?1424340499') format("truetype"), url('../fonts/MyriadPro-Regular.svg?1424340499#MyriadPro-Regular') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LetoSlab';
  src: url('../fonts/LetoSlab.eot?&1423591013#iefix') format("embedded-opentype"), url('../fonts/LetoSlab.woff?1423591013') format("woff"), url('../fonts/LetoSlab.ttf?1423591013') format("truetype"), url('../fonts/LetoSlab.svg?1423591013#LetoSlab') format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
html.page {
  font-size: 62.5%;
}
@media (max-width: 992px) {
  html.page {
    font-size: 50.5%;
  }
}
@media (max-width: 768px) {
  html.page {
    font-size: 40.5%;
  }
}
html.page #goc-mask + .mhc {
  position: fixed;
  left: 0;
  top: 23px;
  margin: 0;
  width: 100%;
  z-index: 30;
}
@media (max-width: 992px) {
  html.page #goc-mask + .mhc {
    position: relative;
    top: 0;
  }
}

body {
  font-family: 'MyriadPro-Regular';
  color: #000;
  font-size: 2.4rem;
  line-height: 1.2;
}

p {
  margin: 0 0 2rem;
}

h1, h2 {
  font-size: 5.8rem;
  line-height: 1;
  font-weight: normal;
  margin: 0 0 1rem;
}

h2 {
  color: #0085a1;
}

h3 {
  color: #0085a1;
  font-size: 3.5rem;
  line-height: 1.45;
  letter-spacing: .35px;
  margin-bottom: 3.5rem;
}

.bg-slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  min-width: 1140px;
}
@media (max-width: 1140px) {
  .bg-slides {
    left: 50%;
    margin-left: -570px;
  }
}

.top-intro {
  padding: 13.35rem 0 0 0;
  margin: 0 0 7rem;
  position: relative;
  z-index: 2;
}
.top-intro h1, .top-intro h2 {
  color: #fff;
  text-shadow: 0 0 10px rgba(34, 34, 34, 0.4);
  margin-left: -4px;
}

.item-section {
  background: #fff;
  padding: 3.8rem 3.8rem 3.8rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin: 0 0 2rem;
}
.item-section .images {
  overflow: hidden;
  position: relative;
  max-width: 677px;
  width: 67%;
}
.item-section .images .image {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.item-section .images img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .item-section .images {
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .item-section .images img {
    width: 100%;
  }
}
.item-section .data-sections {
  overflow: hidden;
  padding: 0 0 0 4rem;
  width: 33%;
  line-height: 4.25rem;
}
.item-section .data-sections h2 {
  margin: -1px 0 3.2rem 0;
  font-size: 4.8rem;
}
@media (max-width: 1140px) {
  .item-section .data-sections h2 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .item-section .data-sections {
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 4rem 0 0 0;
  }
}

.socials {
  padding: 54px 0 0 1px;
}
.socials span {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 7px 0 0;
}
.socials span:hover {
  opacity: .8;
}

.slides-navigation {
  margin: 0 0 2rem;
  position: relative;
  height: 32px;
}
@media (max-width: 480px) {
  .slides-navigation {
    height: 24px;
  }
}
.slides-navigation .line {
  -moz-transform: perspective(0) translate(0, -48%);
  -ms-transform: perspective(0) translate(0, -48%);
  -webkit-transform: perspective(0) translate(0, -48%);
  transform: perspective(0) translate(0, -48%);
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
  content: '';
  position: absolute;
  width: 0px;
  height: 6px;
  background: #5ac2a7;
  top: 50%;
  margin: 0;
  padding: 0;
  left: 0;
}
.slides-navigation:before {
  -moz-transform: perspective(0) translate(0, -50%);
  -ms-transform: perspective(0) translate(0, -50%);
  -webkit-transform: perspective(0) translate(0, -50%);
  transform: perspective(0) translate(0, -50%);
  display: block;
  content: '';
  width: 100%;
  height: 6px;
  background: #e5e5e5;
  position: absolute;
  left: 0;
  top: 50%;
}

.nav-pagination {
  padding: 0;
  list-style-type: none;
  position: relative;
  text-align: justify;
  line-height: 0;
}
.nav-pagination li {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
  top: 2px;
}
.nav-pagination li:last-child {
  margin-right: -3px;
}
.nav-pagination li:first-child {
  margin-left: -3px;
}
.nav-pagination li span {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  width: 28px;
  height: 28px;
  position: relative;
  text-align: center;
  line-height: 29px;
  color: #707070;
  background: #e5e5e5;
  border-radius: 100%;
  cursor: pointer;
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  .nav-pagination li span {
    width: 20px;
    height: 20px;
    line-height: 21px;
    font-size: 1.3rem;
  }
}
.nav-pagination li.current span, .nav-pagination li:hover span {
  color: #fff;
  background: #5ac2a7;
}
.nav-pagination:after {
  display: inline-block;
  content: '';
  width: 100%;
  line-height: 0;
  height: 0;
}

.nav-buttons {
  margin: 0 0 37px;
}
.nav-buttons .btn {
  margin: 0 23px;
  min-width: 273px;
}
@media (max-width: 768px) {
  .nav-buttons .btn {
    margin: 0 5px 20px;
    font-size: 2rem;
    min-width: 200px;
  }
  .nav-buttons .btn.btn-prev span:before {
    left: 20px;
  }
  .nav-buttons .btn.btn-next span:before {
    right: 20px;
  }
}
@media (max-width: 480px) {
  .nav-buttons .btn {
    margin: 0 2px 20px;
    min-width: 70px;
    font-size: 1.5rem;
  }
  .nav-buttons .btn span span {
    position: relative;
    top: 1px;
  }
}
@media (max-width: 360px) {
  .nav-buttons .btn {
    margin: 0 10px 20px;
    min-width: 0;
    font-size: 1.5rem;
  }
  .nav-buttons .btn span span {
    display: none;
  }
  .nav-buttons .btn.btn-prev span:before {
    left: 22px;
  }
  .nav-buttons .btn.btn-next span:before {
    right: 22px;
  }
}

.btn {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  background: none;
  cursor: pointer;
  overflow: visible;
  position: relative;
  border: 3px solid #0085a1;
  border-radius: 30px;
  color: #0085a1;
  font-size: 14px;
  padding: 17px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
}
.btn:hover {
  border-color: #5ac2a7;
  color: #5ac2a7;
}
.btn.disabled {
  opacity: .5;
  cursor: default;
  border-color: #0085a1 !important;
  color: #0085a1 !important;
}
.btn.arr-btn {
  padding: 0;
}
.btn.arr-btn > span {
  position: relative;
  display: block;
  padding: 17px;
  border-radius: 30px;
}
.btn.arr-btn > span:before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
.btn.btn-prev > span {
  position: relative;
  padding: 17px 17px 17px 39px;
}
.btn.btn-prev > span:before {
  left: 65px;
}
.btn.btn-next > span {
  position: relative;
  padding: 17px 39px 17px 17px;
}
.btn.btn-next > span:before {
  right: 65px;
}

.things .top-intro {
  padding: 13.35rem 0 0 0;
  margin: 0 0 7rem;
  position: relative;
  z-index: 2;
}
.things .top-intro h1, .things .top-intro h2 {
  color: #fff;
  text-shadow: 0 0 10px rgba(34, 34, 34, 0.4);
  margin-left: -4px;
}
.things .slide-title {
  color: #fff;
  font-size: 5rem;
  line-height: 1;
  margin: 0 0 6.6rem;
}
.things .slide-title span {
  font-weight: bold;
  margin: 0 10px 0 0;
}
.things .slide-title .container {
  padding: 0;
}
.things .item-section .images {
  width: 100%;
  max-width: 100%;
}
.things .item-section .data-sections {
  width: 100%;
  padding: 3rem 0 0 0rem;
  line-height: 4.25rem;
}

.tips .bg-slides {
  min-width: 1900px;
}
@media (max-width: 1900px) {
  .tips .bg-slides {
    left: 50%;
    margin-left: -950px;
  }
}
.tips .top-intro {
  padding: 13.35rem 0 0 0;
  margin: 0 0 7rem;
  position: relative;
  z-index: 2;
}
.tips .top-intro h1, .tips .top-intro h2 {
  color: #fff;
  text-shadow: 0 0 10px rgba(34, 34, 34, 0.4);
  margin-left: -4px;
}
.tips .top-intro p {
  text-shadow: 0 0 10px rgba(34, 34, 34, 0.4);
  margin: 0;
  color: #fff;
}
.tips .slide-title {
  color: #fff;
  font-size: 5rem;
  line-height: 1;
  margin: 0 0 6.6rem;
}
.tips .slide-title span {
  font-weight: bold;
  margin: 0 10px 0 0;
}
.tips .slide-title .container {
  padding: 0;
}
.tips .item-section {
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.tips .item-section .images {
  width: 100%;
  max-width: 100%;
}
.tips .item-section .images .image {
  height: auto;
  padding: 0;
  position: relative;
}
.tips .item-section .images .image img {
  position: relative;
}
.tips .item-section .images .image h2 {
  color: #fff;
  font-size: 3.8rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 2rem;
  padding: 0 3rem;
  text-shadow: 0 0 10px rgba(34, 34, 34, 0.4);
  width: 100%;
}
.tips .item-section .images .image h2.right {
  text-align: right;
}
.tips .item-section .data-sections {
  width: 100%;
  padding: 4rem 5rem;
  line-height: 4.25rem;
}
.tips .item-section .data-sections b {
  font-weight: bold;
  color: #000;
}
.tips .item-section .data-sections p {
  margin-bottom: 0;
}
.tips .item-section .data-sections p + p {
  margin-top: 3rem;
}
.tips .slides-navigation .line {
  background: #4976cb;
}
.tips .nav-pagination li.current span, .tips .nav-pagination li:hover span {
  background: #4976cb;
}
.tips .btn {
  color: #fff;
  border-color: #fff;
}
.tips .btn:hover {
  opacity: .8;
}
.tips .btn.disabled {
  border-color: #fff !important;
  color: #fff !important;
}
.tips .socials {
  padding: 20px 0 0 0;
}

/*# sourceMappingURL=style.css.map */
