.row, .container {
  *zoom: 1;
}
.row:after, .container:after {
  content: "";
  display: table;
  clear: both;
}

.white-block {
  position: relative;
  background-color: #fff;
  background-size: 100%;
  background-repeat: repeat;
  background-position: center;
  padding: 39px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-bottom: 38px;
}
@media (max-width: 768px) {
  .white-block {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.white-block.darken {
  background-color: #f2f2f2;
}

.img-responsive {
  display: block;
  max-width: 100%;
}
.img-responsive.inline {
  display: inline-block;
  vertical-align: top;
}
.img-responsive.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:before {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.otf") format("opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?18975257");
  src: url("../fonts/fontello/fontello.eot?18975257#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff?18975257") format("woff"), url("../fonts/fontello/fontello.ttf?18975257") format("truetype"), url("../fonts/fontello/fontello.svg?18975257#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Grid system */
.row {
  position: relative;
  margin-right: -19.5px;
  margin-left: -19.5px;
}

.container {
  margin: 0 auto;
  padding-right: 19.5px;
  padding-left: 19.5px;
}

[class^="col-"] {
  position: relative;
  min-height: 1px;
  padding-right: 19.5px;
  padding-left: 19.5px;
}

[class*="col-xsm-"] {
  float: left;
}

.col-xsm-1 {
  width: 8.33333%;
}

.col-xsm-2 {
  width: 16.66667%;
}

.col-xsm-3 {
  width: 25%;
}

.col-xsm-4 {
  width: 33.33333%;
}

.col-xsm-5 {
  width: 41.66667%;
}

.col-xsm-6 {
  width: 50%;
}

.col-xsm-7 {
  width: 58.33333%;
}

.col-xsm-8 {
  width: 66.66667%;
}

.col-xsm-9 {
  width: 75%;
}

.col-xsm-10 {
  width: 83.33333%;
}

.col-xsm-11 {
  width: 91.66667%;
}

.col-xsm-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: auto;
  }

  [class*="col-sm-"] {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: auto;
  }

  [class*="col-md-"] {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1063px) {
  .container {
    width: 1063px;
  }

  [class*="col-lg-"] {
    float: left;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
.visible-xsm,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.visible-xsm-block,
.visible-xsm-inline,
.visible-xsm-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 477px) {
  .visible-xsm {
    display: block !important;
  }

  table.visible-xsm {
    display: table;
  }

  tr.visible-xsm {
    display: table-row !important;
  }

  th.visible-xsm,
  td.visible-xsm {
    display: table-cell !important;
  }

  .visible-xsm-block {
    display: block !important;
  }

  .visible-xsm-inline {
    display: inline !important;
  }

  .visible-xsm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }

  .visible-sm-block {
    display: block !important;
  }

  .visible-sm-inline {
    display: inline !important;
  }

  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1062px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table;
  }

  tr.visible-md {
    display: table-row !important;
  }

  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }

  .visible-md-block {
    display: block !important;
  }

  .visible-md-inline {
    display: inline !important;
  }

  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1063px) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }

  .visible-lg-block {
    display: block !important;
  }

  .visible-lg-inline {
    display: inline !important;
  }

  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1062px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1063px) {
  .hidden-lg {
    display: none !important;
  }
}
.icons-sprite, .icons-fb-color, .share-links .share.share-fb span, .icons-odn-color, .share-links .share.share-odn span, .icons-tw-color, .share-links .share.share-tw span {
  background-image: url('../images/icons-sb4623f62cb.png');
  background-repeat: no-repeat;
}

.icons-fb-color, .share-links .share.share-fb span {
  background-position: 0 0;
  height: 40px;
  width: 60px;
}

.icons-odn-color, .share-links .share.share-odn span {
  background-position: 0 -40px;
  height: 40px;
  width: 60px;
}

.icons-tw-color, .share-links .share.share-tw span {
  background-position: 0 -80px;
  height: 40px;
  width: 60px;
}

html {
  font-size: 18px;
}
@media (max-width: 478px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 340px) {
  html {
    font-size: 13px;
  }
}

body {
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.2;
  color: #2e2e2e;
  font-family: "HelveticaNeueCyr-Light";
}

a {
  text-decoration: underline;
  color: #3c4c55;
}
a:hover {
  color: #281D62;
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  line-height: 1.2;
}
@media (max-width: 768px) {
  h1, h2, h3, h4 {
    line-height: 1;
  }
}

h2 {
  letter-spacing: -.2px;
  font-size: 33px;
  font-size: 1.85rem;
  margin: 0 0 29px;
  margin: 0 0 1.65rem;
}

.btn {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViY2RjZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZDdkOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ebcdcd), color-stop(100%, #fbd7d9));
  background-image: -moz-linear-gradient(bottom, #ebcdcd, #fbd7d9);
  background-image: -webkit-linear-gradient(bottom, #ebcdcd, #fbd7d9);
  background-image: linear-gradient(to top, #ebcdcd, #fbd7d9);
  box-shadow: inset 0 -1px 0 #d5bbbb, inset 0 1px 0 #fdeced;
  padding: 7px 16px 6px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  overflow: visible;
  position: relative;
  border: none;
  color: #5c5c5c;
  font-size: 18px;
  font-size: 1rem;
  font-family: 'Muriad-Pro';
  text-transform: uppercase;
  letter-spacing: .4px;
  white-space: nowrap;
}
.btn:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViY2RjZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZDdkOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebcdcd), color-stop(100%, #fbd7d9));
  background-image: -moz-linear-gradient(top, #ebcdcd, #fbd7d9);
  background-image: -webkit-linear-gradient(top, #ebcdcd, #fbd7d9);
  background-image: linear-gradient(to bottom, #ebcdcd, #fbd7d9);
}

html, body {
  height: 100%;
}

body {
  background: #5f765b;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmNzY1YiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjOTU5OTYwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODk5NjZkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #5f765b), color-stop(50%, #959960), color-stop(100%, #89966d));
  background-image: -moz-linear-gradient(left, #5f765b, #959960, #89966d);
  background-image: -webkit-linear-gradient(left, #5f765b, #959960, #89966d);
  background-image: linear-gradient(to right, #5f765b, #959960, #89966d);
}

#goc-mask + .mhc {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  z-index: 30;
}
@media (max-width: 992px) {
  #goc-mask + .mhc {
    position: relative;
    top: 0;
  }
}

.global {
  position: relative;
  min-height: 100%;
}

.content {
  position: relative;
  z-index: 10;
}

.socials {
  padding: 8px 0 0 0;
}
.socials .socials-link {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  text-decoration: none;
  line-height: 1;
}
.socials .socials-link:hover {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.socials .socials-link:before {
  display: block;
  width: 18px;
  height: 18px;
  color: #fff;
  font-size: 20px;
  font-family: "fontello";
}
.socials .socials-link.fb:before {
  content: '\e800';
}
.socials .socials-link.tw:before {
  content: '\e801';
}
.socials .socials-link.odn:before {
  content: '\e802';
  font-size: 18px;
  margin: 2px 0 0 0;
}
.socials .socials-link.ytb:before {
  content: '\e803';
}
.socials .socials-link.inst:before {
  content: '\e804';
}

.overlay-item {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}
.overlay-item .image {
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.overlay-item .overlay {
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 25, 51, 0.8);
  opacity: 0;
  visibility: hidden;
  font-size: 16px;
  font-size: .9rem;
  color: #fff;
}
@media (max-width: 340px) {
  .overlay-item .overlay {
    font-size: 1.6rem;
  }
}
.overlay-item .overlay .inner {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.overlay-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.overlay-item:hover .overlay .inner {
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.overlay-item .t {
  color: #c4ccd8;
  margin-right: 2px;
}
.overlay-item .overlay-eng-title {
  color: #c4ccd8;
  font-size: 14px;
  font-size: .8rem;
}
@media (max-width: 340px) {
  .overlay-item .overlay-eng-title {
    font-size: 1.4rem;
  }
}
.overlay-item .year {
  margin-top: 12%;
}
.overlay-item .year, .overlay-item .old {
  font-size: 14px;
  font-size: .8rem;
}
@media (max-width: 340px) {
  .overlay-item .year, .overlay-item .old {
    font-size: 1.4rem;
  }
}
.overlay-item .store {
  display: block;
  width: 100%;
  height: 0;
  padding-top: 35%;
  position: absolute;
  bottom: -5%;
  left: 0;
}
.overlay-item .store.tunec {
  background: url("../images/tunec.png") 0 0 no-repeat;
  background-size: 100%;
}
.overlay-item .store.google {
  background: url("../images/google.png") 0 0 no-repeat;
  background-size: 100%;
  display: none;
}
.overlay-item .stars {
  position: relative;
  font-size: 0;
  padding-top: 10%;
  text-align: center;
  white-space: nowrap;
}
.overlay-item .stars span {
  display: inline-block;
  vertical-align: top;
  margin: 0 2.5%;
}
.overlay-item .stars span:before {
  display: block;
  font-family: "fontello";
  content: '\e807';
  color: #f5b041;
  font-size: 21px;
  font-size: 1.2rem;
  line-height: 1;
}
@media (max-width: 340px) {
  .overlay-item .stars span:before {
    font-size: 2.5rem;
  }
}
.overlay-item .stars span.color ~ span:before {
  color: #6e8483;
}

.share-links {
  position: absolute;
  top: 20px;
  left: 100%;
  width: 40px;
}
@media (max-width: 992px) {
  .share-links {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    text-align: center;
  }
}
.share-links .share {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  left: -20px;
  margin-bottom: 10px;
  display: block;
  line-height: 0;
}
.share-links .share span {
  display: block;
}
@media (min-width: 992px) {
  .share-links .share:hover {
    left: -10px;
  }
}
@media (max-width: 992px) {
  .share-links .share {
    display: inline-block;
    vertical-align: top;
    width: 38px;
    border-radius: 3px;
    overflow: hidden;
    margin: 20px 10px;
    left: auto;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  }
  .share-links .share span {
    position: relative;
    left: -22px;
  }
  .share-links .share:hover {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.parallax {
  margin-top: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
.parallax [class*="parallax-"] {
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.parallax .parallax-1 {
  position: fixed;
  background: url("../images/bg.jpg") center 0 no-repeat;
  background-size: cover;
  height: 120%;
}
.parallax .parallax-2 {
  top: 73px;
  background: url("../images/left.png") 10% 0 repeat-y;
  top: 0;
  height: 100%;
}
.parallax .parallax-3 {
  background: url("../images/right.png") 90% 0 repeat-y;
  top: 0;
  height: 100%;
}
.parallax .parallax-4 {
  background: url("../images/bfl.png") center 0 no-repeat;
  position: fixed;
  bottom: 0;
  top: auto;
  width: 100%;
  height: 381px;
}

.footer {
  position: relative;
  z-index: 10;
  color: #fff;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  padding-bottom: 18px;
  padding-bottom: 1rem;
}
.footer .dsn-foo {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
}
.footer .foo-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer .foo-nav ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 10px 10px;
  background: none;
}
.footer .foo-nav ul a {
  color: #fff;
  text-decoration: none;
}
.footer .foo-nav ul a:hover {
  text-decoration: underline;
}
.footer p {
  font-size: 13px;
  margin: 4px 20% 6px;
}

.carousel {
  position: relative;
}
.carousel .owl-stage-outer {
  max-width: 100%;
  overflow: hidden;
}
.carousel .owl-item {
  float: left;
  min-height: 1px;
  position: relative;
}
.carousel .owl-item figure {
  margin: 0;
}
.carousel .owl-item .item {
  max-width: 100%;
}
.carousel .owl-stage {
  *zoom: 1;
  position: relative;
}
.carousel .owl-stage:after {
  content: "";
  display: table;
  clear: both;
}
.carousel .owl-height {
  -moz-transition: height 0.2s ease;
  -o-transition: height 0.2s ease;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
}

.locked {
  overflow: hidden;
}

.md-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  display: none;
  background: rgba(22, 29, 21, 0.8);
}

.modal {
  position: fixed;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 10002;
  left: 50%;
  top: 0;
  overflow: hidden;
  padding: 100px 0;
  max-height: 100%;
  width: 800px;
}
@media (max-width: 992px) {
  .modal {
    width: 80%;
  }
}
.modal .bg-m {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: #000;
  position: relative;
  height: 0;
}
.modal.show {
  visibility: visible;
  opacity: 1;
}
.modal.show ~ .md-overlay {
  display: block;
}
.modal.show .content, .modal.show .bg-m {
  height: 100%;
}
.modal .title {
  position: relative;
}
.modal .content {
  height: 0;
  padding: 50px 17px 50px 30px;
}
.modal .close {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 15;
}
.modal .close:before {
  display: block;
  content: "X";
  color: #ccc;
  font-size: 22px;
  cursor: pointer;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.modal .close:before:hover {
  opacity: .8;
}
.modal h1 {
  font-weight: bold;
  margin: 0 0 10px;
  color: #222;
  text-shadow: none;
  font-size: 25px;
}
.modal h2 {
  margin: 0 0 20px;
  color: #222;
  text-shadow: none;
  font-size: 18px;
}
.modal p {
  margin: 0 0 18px;
}
.modal .ctx {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2;
}
.modal .ctx h1 {
  font-size: 20px;
}
.modal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #d31b1e !important;
}
.modal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
  background: #e63b3e !important;
}

.popup-slider-overlay {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
}

.popup-slider {
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 100px;
  width: 90%;
  max-width: 750px;
  opacity: 0;
  visibility: hidden;
}
.popup-slider.show {
  opacity: 1;
  visibility: visible;
}
.popup-slider.show ~ .popup-slider-overlay {
  opacity: 1;
  visibility: visible;
}
.popup-slider .big-images {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 0 auto 40px;
}
.popup-slider .big-images .item {
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.popup-slider .carousel-wrapper .prev:before, .popup-slider .carousel-wrapper .next:before {
  color: #fff;
}
.popup-slider .carousel-wrapper .prev {
  left: -40px;
}
@media (max-width: 992px) {
  .popup-slider .carousel-wrapper .prev {
    left: 0px;
  }
}
.popup-slider .carousel-wrapper .next {
  right: -40px;
}
@media (max-width: 992px) {
  .popup-slider .carousel-wrapper .next {
    right: 0px;
  }
}
.popup-slider .popup-carousel {
  position: relative;
  z-index: 30;
}
.popup-slider .thumbs-carousel {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (max-width: 992px) {
  .popup-slider .thumbs-carousel {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.popup-slider .thumbs-carousel .item {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.popup-slider .thumbs-carousel .item img {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.popup-slider .thumbs-carousel .item:hover img {
  opacity: .8;
}
.popup-slider .hide {
  display: none;
}
.popup-slider .visible {
  display: block;
}

.section-1 {
  padding-top: 98px;
}
.section-1 .top-text {
  margin-bottom: 21px;
  padding: 0 0 0 8px;
}
.section-1 .top-text h1 {
  margin: 0;
}

.show-popup {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  text-decoration: underline;
}
.show-popup:hover {
  text-decoration: none;
}

.get-concurs-section .intro-image {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 38px;
  left: 38px;
  width: auto;
  height: auto;
  display: block;
  padding: 0;
}
.get-concurs-section .intro-image:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.get-concurs-section .intro-image img {
  cursor: pointer;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .get-concurs-section .intro-image {
    position: relative;
    left: auto;
    top: auto;
    margin: 0 auto;
    text-align: center;
  }
}
.get-concurs-section .intro-part {
  padding: 11px 9% 4px;
  margin-left: 28%;
  min-height: 235px;
}
.get-concurs-section .intro-part p {
  padding: 0 5%;
}
.get-concurs-section .intro-part .btn {
  margin: 16px 0 0 -5px;
}
@media (max-width: 768px) {
  .get-concurs-section .intro-part {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .get-concurs-section .intro-part p {
    padding: 0;
  }
  .get-concurs-section .intro-part .btn {
    margin: 0 0 1rem;
  }
}
.get-concurs-section .items {
  display: table;
  width: 100%;
}
@media (max-width: 768px) {
  .get-concurs-section .items {
    display: block;
    font-size: 0;
  }
}
.get-concurs-section .items .item {
  display: table-cell;
  vertical-align: bottom;
  padding: 0 0 0 2%;
  font-size: 18px;
}
.get-concurs-section .items .item img {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  cursor: pointer;
}
.get-concurs-section .items .item img:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.get-concurs-section .items .item .show-popup {
  font-size: 14px;
  font-size: .8rem;
  margin: 14px 0 9px 4px;
}
.get-concurs-section .items .item:first-child {
  padding-left: 0;
}
@media (max-width: 768px) {
  .get-concurs-section .items .item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .get-concurs-section .items .item {
    width: 29%;
  }
}
@media (max-width: 478px) {
  .get-concurs-section .items .item {
    width: 46%;
  }
}
@media (max-width: 340px) {
  .get-concurs-section .items .item {
    width: 100%;
    padding: 0;
    margin: 0 0 2rem;
  }
}

.baners {
  font-size: 0;
  margin-bottom: 19px;
}
.baners .baner {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 28%;
  margin: 0 2% 2%;
  overflow: hidden;
}
@media (max-width: 768px) {
  .baners .baner {
    width: 46%;
  }
}
@media (max-width: 340px) {
  .baners .baner {
    width: 96%;
  }
}
.baners .baner img {
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
}
.baners .baner:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.movies-section {
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 30px;
  background-image: url(../images/flowers-1.jpg);
}
.movies-section .section-title {
  margin-bottom: 9px;
  margin-bottom: .5rem;
}
.movies-section p {
  margin: 0 0 34px;
  margin: 0 0 1.9rem;
}
.movies-section .items {
  position: relative;
  font-size: 0;
  margin-left: -3.9%;
}
@media (max-width: 340px) {
  .movies-section .items {
    margin-left: 0;
  }
}
.movies-section .items .item {
  display: inline-block;
  vertical-align: top;
  width: 16.1%;
  font-size: 17px;
  margin: 0 0 36px 3.9%;
  margin: 0 0 2rem 3.9%;
  font-family: "PT Sans", sans-serif;
}
.movies-section .items .item:hover .image {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
@media (max-width: 992px) {
  .movies-section .items .item {
    width: 21%;
  }
}
@media (max-width: 768px) {
  .movies-section .items .item {
    width: 29%;
  }
}
@media (max-width: 478px) {
  .movies-section .items .item {
    width: 46%;
  }
}
@media (max-width: 340px) {
  .movies-section .items .item {
    width: 100%;
    margin-left: 0;
  }
}
.movies-section .items .image {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0 0 16px;
  padding: 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.movies-section .items .data {
  line-height: 1.1;
}
.movies-section .items .data .title {
  margin-bottom: 1px;
}
.movies-section .items .data .title a {
  color: #3c4c55;
  text-decoration: none;
}
.movies-section .items .data .title a:hover {
  color: #281D62;
  text-decoration: underline;
}
.movies-section .items .data .time {
  color: #798697;
}

.paint-section {
  color: #fff;
  margin-bottom: 32px;
}
.paint-section .section-title {
  color: #fff;
  margin-bottom: 9px;
  margin-bottom: .5rem;
}
.paint-section p {
  margin: 0 0 23px;
  margin: 0 0 1.3rem;
}

.paint-carousel {
  padding: 0 52px;
}
@media (max-width: 478px) {
  .paint-carousel {
    padding: 0;
  }
}
.paint-carousel .item {
  padding: 10px 6px;
}
.paint-carousel .item:hover .image {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.paint-carousel .image {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
@media (max-width: 478px) {
  .paint-carousel .owl-dots {
    text-align: center;
    padding-top: 20px;
  }
  .paint-carousel .owl-dots .owl-dot {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    background: #8B171A;
    border-radius: 100%;
    margin: 0 3px;
    cursor: pointer;
  }
  .paint-carousel .owl-dots .owl-dot.active {
    background: #fff;
  }
}

.carousel-wrapper {
  position: relative;
}
.carousel-wrapper .prev, .carousel-wrapper .next {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 20;
}
@media (max-width: 478px) {
  .carousel-wrapper .prev, .carousel-wrapper .next {
    display: none !important;
  }
}
.carousel-wrapper .prev:hover, .carousel-wrapper .next:hover {
  opacity: .7;
}
.carousel-wrapper .prev:before, .carousel-wrapper .next:before {
  line-height: 0;
  display: block;
  font-size: 45px;
  color: #2e2e2e;
  font-family: "fontello";
}
.carousel-wrapper .prev {
  left: 20px;
}
.carousel-wrapper .prev:before {
  content: '\e805';
}
.carousel-wrapper .next {
  right: 20px;
}
.carousel-wrapper .next:before {
  content: '\e806';
}

.games-section {
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 30px;
  background-image: url(../images/flowers-2.jpg);
}
.games-section h2 {
  margin-bottom: 9px;
  margin-bottom: .5rem;
}
.games-section p {
  margin: 0 0 34px;
  margin: 0 0 1.9rem;
}
.games-section .items {
  position: relative;
  font-size: 0;
  margin-left: -3.9%;
}
@media (max-width: 340px) {
  .games-section .items {
    margin-left: 0;
  }
}
.games-section .items .item {
  display: inline-block;
  vertical-align: top;
  width: 16.1%;
  font-size: 17px;
  margin: 0 0 36px 3.9%;
  margin: 0 0 2rem 3.9%;
  font-family: "PT Sans", sans-serif;
}
.games-section .items .item .stars {
  padding-top: 5%;
}
@media (max-width: 992px) {
  .games-section .items .item {
    width: 21%;
  }
}
@media (max-width: 768px) {
  .games-section .items .item {
    width: 29%;
  }
}
@media (max-width: 478px) {
  .games-section .items .item {
    width: 46%;
  }
  .games-section .items .item .overlay-catgory {
    display: none;
  }
}
@media (max-width: 340px) {
  .games-section .items .item {
    width: 100%;
    margin-left: 0;
  }
  .games-section .items .item .overlay-catgory {
    display: block;
  }
  .games-section .items .item .stars span:before {
    font-size: 2rem;
  }
}
.games-section .items .item:hover .image {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.games-section .items .image {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0 0 16px;
  padding: 0;
  border-radius: 34px;
  overflow: hidden;
  position: relative;
}
.games-section .items .data {
  line-height: 1.1;
}
.games-section .items .data .title {
  margin-bottom: 1px;
}
.games-section .items .data .title a {
  color: #3c4c55;
  text-decoration: none;
}
.games-section .items .data .title a:hover {
  color: #281D62;
  text-decoration: underline;
}
.games-section .items .data .catgory {
  color: #798697;
}

.test-section {
  margin-bottom: 33px;
}
.test-section .section-intro {
  color: #fff;
}
.test-section .section-intro .section-title {
  margin-bottom: 9px;
  margin-bottom: .5rem;
}
.test-section .section-intro p {
  margin: 0 0 34px;
  margin: 0 0 1.9rem;
}

.module-test {
  max-width: 748px;
  margin: 0 auto;
}
.module-test .test-title {
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 28px;
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  line-height: 1;
  padding: 4px 10px 6px 59px;
  margin: 0 0 20px;
}
.module-test .test-title .num {
  background: #ffabbc;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 30px;
  padding: 3px 5px;
  min-width: 40px;
  text-align: center;
  border-radius: 3px 0 0 3px;
}
.module-test .test-image {
  position: relative;
  margin-bottom: 20px;
}
.module-test .test-image .image {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  overflow: hidden;
}
.module-test .test-questions {
  position: relative;
  margin: 0 0 20px -3%;
  font-size: 0;
}
@media (max-width: 768px) {
  .module-test .test-questions {
    margin: 0;
  }
}
.module-test .test-questions .item {
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 30.3333333333%;
  margin-left: 3%;
  margin-bottom: 3%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .module-test .test-questions .item {
    display: block;
    width: 100%;
    margin: 0 0 1rem;
    background-repeat: repeat;
    background-size: contain;
  }
}
.module-test .test-questions .item .overlay {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 25, 51, 0.8);
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  display: block;
  border-radius: 2px;
}
.module-test .test-questions .item:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.module-test .test-questions .item .inner-text {
  font-size: 21px;
  font-size: 1.2rem;
  font-family: "PT Sans", sans-serif;
  border-radius: 3px;
  display: block;
  padding: 16% 15% 17%;
  line-height: 1.25;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 992px) {
  .module-test .test-questions .item .inner-text {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .module-test .test-questions .item .inner-text {
    font-size: 1.2rem;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
.module-test .test-questions .item input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
}
.module-test .test-questions .item input[type="radio"]:checked + .overlay {
  opacity: 1;
  visibility: visible;
}
.module-test .test-questions .item.item-1 {
  background-image: url("../images/fl-q-1.jpg");
}
.module-test .test-questions .item.item-2 {
  background-image: url("../images/fl-q-2.jpg");
}
.module-test .test-questions .item.item-3 {
  background-image: url("../images/fl-q-3.jpg");
}
.module-test .test-progress-row {
  *zoom: 1;
  position: relative;
}
.module-test .test-progress-row:after {
  content: "";
  display: table;
  clear: both;
}
.module-test .test-progress-row .count {
  float: right;
  color: #fff;
  font-size: 26px;
  font-family: "PT Sans", sans-serif;
  margin: -3px 0 0 0;
}
.module-test .test-progress-row .test-progress-bar {
  margin-right: 100px;
  height: 23px;
  border-radius: 21px;
  border: 1px solid #cfcfcf;
  background: #fff;
  box-shadow: 0 -1px 0 #efefef inset;
  position: relative;
}
.module-test .test-progress-row .test-progress-bar .pr-el {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlOWZiMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlOTFhNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fe9fb3), color-stop(100%, #fe91a6));
  background-image: -moz-linear-gradient(top, #fe9fb3, #fe91a6);
  background-image: -webkit-linear-gradient(top, #fe9fb3, #fe91a6);
  background-image: linear-gradient(to bottom, #fe9fb3, #fe91a6);
  border-radius: 21px;
  border: 1px solid #d37491;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) inset;
}

.music-section {
  padding-top: 30px;
  padding-bottom: 0;
  background-image: url(../images/flowers-3.jpg);
}
.music-section .section-title {
  margin-bottom: 32px;
  margin-bottom: 1.8rem;
}
.music-section .items {
  position: relative;
  font-size: 0;
  margin-left: -3.9%;
}
@media (max-width: 340px) {
  .music-section .items {
    margin-left: 0;
  }
}
.music-section .items .item {
  display: inline-block;
  vertical-align: top;
  width: 16.1%;
  font-size: 17px;
  margin: 0 0 36px 3.9%;
  margin: 0 0 2rem 3.9%;
  font-family: "PT Sans", sans-serif;
  text-align: left;
}
.music-section .items .item:hover .image {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
@media (max-width: 992px) {
  .music-section .items .item {
    width: 21%;
  }
}
@media (max-width: 768px) {
  .music-section .items .item {
    width: 29%;
  }
}
@media (max-width: 478px) {
  .music-section .items .item {
    width: 46%;
  }
}
@media (max-width: 340px) {
  .music-section .items .item {
    width: 100%;
    margin-left: 0;
  }
}
.music-section .items .image {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0 0 16px;
  padding: 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.music-section .items .title {
  line-height: 1.1;
  margin-bottom: 1px;
}
.music-section .items .title a {
  color: #3c4c55;
  text-decoration: none;
}
.music-section .items .title a:hover {
  color: #281D62;
  text-decoration: underline;
}

.result-test {
  position: relative;
}
.result-test .inner {
  background: #fff url("../images/flowers-4.jpg") center 0 repeat;
  padding: 4% 4.5% 0;
  font-size: 16px;
  font-size: .9rem;
  border-radius: 3px;
  font-family: "PT Sans", sans-serif;
  overflow: hidden;
  position: relative;
  z-index: 3;
  min-height: 185px;
}
.result-test .inner h2 {
  margin: 0 0 10px;
  margin: 0 0 .6rem;
  font-size: 27px;
  font-size: 1.5rem;
}
.result-test .inner p {
  margin: 0 0 34px;
  margin: 0 0 1.9rem;
}
