<p> С 5 по 19 марта выберите открытку</p>
<p>Поделитесь ей на своей странице в одной из социальных сетей </p>
<p>3. В подписи к открытке ответе на вопрос &laquo;Что для вас весна?&raquo;</p>
<p>4.Используйе хэштег #сказкиовесне</p>
<p>5. Выиграйте 2 билета на мюзикл &laquo;Красавица и Чудовище&raquo;</p>
<p>и прекрасные толстовки! </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>ПОЛНЫЕ ПРАВИЛА ПРОВЕДЕНИЯ И УЧАСТИЯ В КОНКУРСЕ</strong></p>
<p><strong>&laquo;Сказки о весне&raquo; (далее &ndash; &laquo;Правила&raquo;)</strong></p>
<p>&nbsp;</p>
<p><strong>ОБЩИЕ ПОЛОЖЕНИЯ</strong></p>
<p>&nbsp;</p>
<p>1. Правила регламентируют порядок организации и проведения конкурса <strong>&laquo;Сказки о весне&raquo; </strong>(далее - &laquo;Конкурс&raquo;).</p>
<p>&nbsp;</p>
<p>2. Организатором Конкурса является Общество с ограниченной ответственностью &laquo;Уолт Дисней Компани СНГ&raquo; (ИНН: 7710608533, КПП: 770401001) (далее - &laquo;Организатор&raquo;), партнёром является Общество с ограниченной ответственностью &laquo;Стейдж Энтертеймент&raquo; (ИНН: 7704536785) (далее &ndash; &laquo;Партнёр&raquo;).</p>
<p>&nbsp;</p>
<p>3. Конкурс проводится с целью популяризации брендов и франшиз Организатора и Партнёра, а также с целью содействия развитию творческих способностей участников Конкурса.</p>
<p>&nbsp;</p>
<p>4. Правила определяют порядок, условия, место и сроки проведения Конкурса. Во всем, что не предусмотрено Правилами, Организатор, Партнёр и участники, как они определены далее, руководствуются действующим законодательством Российской Федерации.</p>
<p>&nbsp;</p>
<p>5. Лица, желающие принять участие в Конкурсе и соответствующие требованиям, приведенным в п. 6 Правил (далее &ndash; &laquo;Участники&raquo;), обязаны выполнять все действия, связанные с участием в Конкурсе, в порядке, на условиях и в сроки, установленные Правилами. Участие в Конкурсе подразумевает полное согласие Участников с Правилами, которые доводятся до сведения Участников путем размещения на сайте http://love.disney.ru/ (далее - &laquo;Сайт&raquo;).</p>
<p>&nbsp;</p>
<p>Размещенные на Сайте Правила представляют собой публичную оферту, адресованную Организатором всем потенциальным Участникам Конкурса. В силу положений ч. 3 ст. 434 Гражданского кодекса Российской Федерации совершение Участником действий, предусмотренных п. 9 Правил, рассматривается в качестве безоговорочного согласия соответствующего Участника с условиями Правил. С момента совершения соответствующих действий Правила приобретают для Участника и Организатора силу юридически значимого соглашения, определяющего права и обязанности указанных лиц, связанные с организацией и проведением Конкурса.</p>
<p>&nbsp;</p>
<p>6. В Конкурсе могут принимать участие совершеннолетние граждане Российской Федерации, постоянно проживающие на территории Российской Федерации, за исключением работников и представителей Организатора, Партнёра аффилированных с ними лиц, членов семей таких работников и представителей, а также работников и представителей любых других лиц, имеющих непосредственное отношение к организации или проведению Конкурса.</p>
<p>&nbsp;</p>
<p>7. Конкурс проводится на территории Российской Федерации (далее &ndash; &laquo;Территория&raquo;) в период с 00:00 (московского времени) 5 марта 2015 года по 23:59 (московского времени) 27 марта 2015 года включительно (далее &ndash; &laquo;Срок&raquo;) на следующих сайтах: социальных сетях &laquo;Twitter&raquo; (https://twitter.com/), &laquo;Instragram&raquo; (http://instagram.com/), &laquo;Facebook&raquo; (https://www.facebook.com/) и &laquo;Одноклассники&raquo; (http://ok.ru/) (далее все вместе &ndash; &laquo;Социальные сети&raquo;). Во избежание сомнений, Организатор и Партнёр не несут ответственности и не могут повлиять на взаимоотношения между Участниками и Социальными сетями. Указанные взаимоотношения регулируются исключительно условиями лицензионных соглашений, политик и иными правилами Социальных сетей.</p>
<p>Обращаем внимание, что для участия в Конкурсе необходимо, чтобы профиль Участника в Социальных сетях не являлся закрытым для публичного просмотра в течение Срока. </p>
<p>&nbsp;</p>
<p>8. В случае приостановления или прекращения проведения Конкурса, изменения Правил Организатор обязан публично уведомить об этом Участников путём размещения соответствующего уведомления на Сайте и в Социальных сетях не позднее истечения половины Срока.</p>
<h1>&nbsp;</h1>
<h1>ПОРЯДОК И УСЛОВИЯ УЧАСТИЯ В КОНКУРСЕ В СОЦИАЛЬНЫХ СЕТЯХ &laquo;FACEBOOK&raquo;, &laquo;TWITTER&raquo; И &laquo;ОДНОКЛАССНИКИ&raquo; </h1>
<p>&nbsp;</p>
<p>9. Для того чтобы принять участие в Конкурсе в социальных сетях &laquo;Twitter&raquo;, &laquo;Facebook&raquo; и &laquo;Одноклассники&raquo;, Участнику необходимо в период с 00:00 (время московское) 5 марта 2015 г. по 23:59 (время московское) 19 марта 2015 г. совершить следующие действия:</p>
<p>&nbsp;</p>
<p>9.1. Зарегистрироваться на сайте социальной сети &laquo;Facebook&raquo;, или на сайте социальной сети &laquo;Одноклассники&raquo;, или на сайте социальной сети &laquo;Twitter&raquo;, заполнив все требуемые для регистрации поля регистрационной формы. Участникам, уже зарегистрировавшимся в указанных социальных сетях, необходимо авторизоваться.</p>
<p>9.2. Стать участником группы Disney Россия в социальной сети &laquo;Facebook&raquo;, или группы Disney Россия в социальной сети &laquo;Одноклассники&raquo;, или подписаться на группу @DisneyRussia в социальной сети Twitter путём нажатия кнопки &laquo;Нравится&raquo; на указанной странице в социальной сети &laquo;Facebook&raquo;, кнопки &laquo;Присоединиться&raquo; на указанной странице в социальной сети &laquo;Одноклассники&raquo; или кнопки &laquo;Читаю&raquo; на указанной странице в социальной сети &laquo;Twitter&raquo;. </p>
<p>&nbsp;</p>
<p>9.3 Зайти на Сайт и в разделе &laquo;Открытки&raquo;, </p>
<ul>
<li>
<p>выбрать открытку из числа предложенных на Сайте;</p>
</li>
<li>
<p>Придумать собственный ответ на вопрос &laquo;Что для вас весна?&raquo;</p>
</li>
</ul>
<ul>
<li>
<p>поделиться выбранной открыткой вместе со своим ответом на своей странице в социальной сети &laquo;Facebook&raquo;, или социальной сети &laquo;Одноклассники&raquo; или социальной сети &laquo;Twitter&raquo; путем нажатия кнопки &laquo;Поделиться&raquo; в разделе &laquo;Открытки&raquo; на Сайте в течение срока, указанного в п. 9 Правил. Все публикации, размещенные позже срока, указанного в п. 9 Правил, к участию в Конкурсе не принимаются.</p>
</li>
</ul>
<p>&nbsp;</p>
<p>10. Участник вправе в любой момент прекратить свое участие в Конкурсе. Для этого Участник должен прислать на электронный адрес <a href="mailto:info@waltdisney.ru">info@waltdisney.ru</a> запрос на прекращение участия в Конкурсе. Фамилия, имя Участника и/или никнейм, указанные в запросе на прекращение участия в Конкурсе, должны совпадать с фамилией, именем и/или никнеймом указанными им при регистрации в социальной сети &laquo;Facebook&raquo;, или социальной сети &laquo;Одноклассники&raquo; или социальной сети &laquo;Twitter&raquo;. Лицо, соответствующее требованиям, приведенным в п. 6 Правил, может снова стать Участником, если оно вновь выполнит все условия, необходимые для участия в Конкурсе, согласно требованиям, указанным выше.</p>
<p>&nbsp;</p>
<h1>ПОРЯДОК И УСЛОВИЯ УЧАСТИЯ В КОНКУРСЕ В СОЦИАЛЬНОЙ СЕТИ &laquo;INSTAGRAM&raquo; </h1>
<p>&nbsp;</p>
<p>11. Для того чтобы принять участие в Конкурсе в социальной сети &laquo;Instagram&raquo;, Участнику необходимо в период с 00:00 (время московское) 5 марта 2015 г. по 23:59 (время московское) 19 марта 2015 г. совершить следующие действия:</p>
<p>&nbsp;</p>
<p>11.1. Установить приложение социальной сети &laquo;Instagram&raquo; на свое мобильное устройство, зарегистрироваться в социальной сети &laquo;Instagram&raquo; через такое приложение, заполнив все требуемые для регистрации поля регистрационной формы. Участникам, уже зарегистрировавшимся в данной социальной сети, необходимо авторизоваться.</p>
<p>&nbsp;</p>
<p>11.2. Подписаться на профиль @DisneyRussia в социальной сети &laquo;Instagram&raquo; путём нажатия кнопки &laquo;Подписаться&raquo; в профиле @DisneyRussia в социальной сети &laquo;Instagram&raquo;.</p>
<p>&nbsp;</p>
<p>11.3. Зайти на Сайт и в разделе &laquo;Открытки&raquo;, </p>
<ul>
<li>
<p>выбрать открытку из числа предложенных на Сайте и сделать скриншот этой открытки на своём мобильном устройстве, </p>
</li>
<li>
<p>опубликовать в социальной сети &laquo;Instagram&raquo; такой скриншот этой открытки вместе с собственным ответом на вопрос &laquo;Что для вас весна?&raquo; и хэштегом &laquo;#сказкиовесне&raquo;, </p>
</li>
<li>
<p>отметить на такой открытке сообщество @DisneyRussia. </p>
</li>
<li>
<p>опубликовать указанную открытку с ответом в течение срока, указанного в п. 11 Правил. Все публикации, размещенные позже срока, указанного в п. 11 Правил, к участию в Конкурсе не принимаются.</p>
</li>
</ul>
<p>&nbsp;</p>
<p>12. Участник вправе в любой момент прекратить свое участие в Конкурсе. Для этого Участник должен прислать на электронный адрес <a href="mailto:info@waltdisney.ru">info@waltdisney.ru</a> запрос на прекращение участия в Конкурсе. Фамилия, имя Участника и/или никнейм Участника, указанные в запросе на прекращение участия в Конкурсе, должно совпадать с фамилией, именем и/или никнеймом Участника, указанным им в социальной сети &laquo;Instagram&raquo;. Лицо, соответствующее требованиям, приведенным в п. 6 Правил, может снова стать Участником, если оно вновь выполнит все условия, необходимые для участия в Конкурсе, согласно требованиям, указанным выше.</p>
<p>&nbsp;</p>
<p><strong>ОЦЕНКА ПУБЛИКАЦИЙ В СОЦИАЛЬНЫХ СЕТЯХ</strong></p>
<p>&nbsp;</p>
<p>13. Оценка публикаций Участников проводится Жюри, как оно определено далее, с 00:00 (московское время) до 23:59 (московское время) 24 марта 2015 года (московское время). </p>
<p>&nbsp;</p>
<p>Участник имеет право размещать публикации в рамках Конкурса только в одной из Социальных сетей.</p>
<p>&nbsp;</p>
<p>14. Организатор имеет право дисквалифицировать Участника и прекратить его участие в Конкурсе в любой момент, в том числе после окончания Срока, аннулировав его результат без дальнейшего объяснения причин дисквалификации Участника и прекращения его участия в Конкурсе в случае, если:</p>
<p>- его публикация содержит неэтичные и/или нецензурные выражения, призывы к насилию и т.д., эротическую и/или порнографическую информацию;</p>
<p>- его публикация содержит рекламную информацию;</p>
<p>- его публикация задевает честь и достоинство других Участников;</p>
<p>- его публикация разжигает межнациональную, расовую, религиозную и иную рознь;</p>
<p>- его публикация нарушает права третьих лиц;</p>
<p>- Участник использует недобросовестные методы участия в Конкурсе;</p>
<p>- Участник нарушил иные положения Правил.</p>
<p>Организатор принимает решение о соответствии публикации Участника Правилам и/или действующему законодательству Российской Федерации на свое единоличное усмотрение.</p>
<p>&nbsp;</p>
<p>15. Организатор не несет ответственности за технические сбои, связанные с регистрацией Участника в Социальных сетях, авторизацией Участника и загрузкой публикаций на страницы Социальных сетей, в том числе за технические неполадки в Социальных сетях, в случае если они возникли не по вине Организатора.</p>
<p>&nbsp;</p>
<h1>ОПРЕДЕЛЕНИЕ ПОБЕДИТЕЛЕЙ КОНКУРСА</h1>
<p>&nbsp;</p>
<p>16. Жюри, члены которого назначаются Организатором (далее &ndash; &laquo;Жюри&raquo;), в срок с 00:00 (московское время) 20 марта 2015 года до по 23:59 (московское время) 27 марта 2015 года (московское время) выбирает по своему усмотрению в каждой из Социальных сетей 2 (Две) публикации, авторы которых становятся Победителями Конкурса (далее &ndash; &laquo;Победители&raquo;) и 1 (Одну) публикацию, автор которой становится Главным победителем Конкурса (далее &ndash; &laquo;Главный победитель&raquo;), таким образом, всего в Конкурсе будет определено 4 (Четыре) Главных победителя и 8 (Восемь) Победителей. </p>
<p>Жюри определяет лучшие публикации по своему усмотрению, принимая во внимание следующие критерии: </p>
<p>- Креативность публикации;</p>
<p>- Творческий подход к созданию публикации.</p>
<p>&nbsp;</p>
<p>Участник может стать Главным победителем и/или Победителем только один раз, участвуя в Конкурсе исключительно в одной из Социальных сетей, указанных в п. 7 Правил. </p>
<p>Участник может занять только одно призовое место и получить только один Главный приз или Приз, как они определены далее.</p>
<p>&nbsp;</p>
<p>17. Если Главным победителем и/или Победителем становится Участник, являющийся государственным служащим или работником какой-либо организации с государственным участием или без такового, то вручение такому Участнику Главного приза или Приза, как они определены далее, осуществляется только если это не противоречит законодательству о государственной службе, законодательству о противодействии коррупции и иным положениям законодательства Российской Федерации, внутренним актам соответствующего государственного органа, организации и трудовому договору или служебному контракту Участника. </p>
<p>&nbsp;</p>
<p>18. Информация об итогах проведения Конкурса с указанием имён Главных победителей и Победителей, указанных ими при регистрации в Социальных сетях, публикуется в группе Disney Россия в социальной сети &laquo;Facebook&raquo;, в группе Disney Россия в социальной сети &laquo;Одноклассники&raquo;, в профиле @DisneyRussia в социальной сети &laquo;Twitter&raquo; и в профиле @DisneyRussia в социальной сети &laquo;Instagram&raquo; в период с 00:00 (московское время) c 20 марта 2015 года по 23:59 (московское время) 27 марта 2015 года.</p>
<p>&nbsp;</p>
<h1>ПРИЗОВОЙ ФОНД</h1>
<p>&nbsp;</p>
<p>19. Призовой фонд, состоит из призов, описанных далее, предоставляется Партнёром и включает в себя пригласительные билеты на мюзикл &laquo;Красавица и Чудовище&raquo;, подробнее о котором можно узнать на сайте Партнёра http://beauty-musical.ru (8 штук), а также брендированные толстовки (12 штук).</p>
<p>&nbsp;</p>
<p>20. Призом каждому Главному победителю является 2 (Два) пригласительных билета на одну дату на мюзикл &laquo;Красавица и Чудовище&raquo; и брендированная толстовка (далее &ndash; &laquo;Главный приз&raquo;). </p>
<p>Возможные даты и время посещения мюзикла &laquo;Красавица и Чудовище&raquo;, 2 (Два) пригласительных билета на который входят в Главный приз, будут сообщены Главному победителю после предоставления Главным победителем Организатору информации, предусмотренной настоящим пунктом Правил, в срок до 3 апреля 2015 года. Если Главный победитель не может воспользоваться указанными билетами, то он имеет право передать их любому другому лицу по своему усмотрению. </p>
<p>&nbsp;</p>
<p>21. Каждому из Победителей присуждается брендированная толстовка (далее &ndash; &laquo;Приз&raquo;). </p>
<p>&nbsp;</p>
<p>Стоимость каждого Главного приза, а также каждого Приза не превышает 4000 (Четыре тысячи) рублей 00 копеек.</p>
<p>&nbsp;</p>
<p>22. Организатор по своему усмотрению вправе определять и вручать поощрительные призы.</p>
<p>&nbsp;</p>
<h1>ПОРЯДОК И СРОКИ ВРУЧЕНИЯ ПРИЗОВ</h1>
<p>&nbsp;</p>
<p>23. Во избежание сомнений, положения настоящего раздела &laquo;ПОРЯДОК И СРОКИ ВРУЧЕНИЯ ПРИЗОВ&raquo; применяются также и к отношениям Организатора с Главным победителем касательно Главного приза, если иное специально не оговорено. </p>
<p>&nbsp;</p>
<p>24. После опубликования информации об итогах конкурса в соответствии с п. 18 Правил Победитель для получения Приза обязуется предоставить Организатору следующую информацию:</p>
<ul>
<li>
<p>фамилию, имя и отчество;</p>
</li>
<li>
<p>почтовый адрес;</p>
</li>
<li>
<p>адрес электронной почты;</p>
</li>
<li>
<p>контактный телефон.</p>
</li>
</ul>
<p>Указанная информация должна быть представлена по электронной почте путем направления письма на электронную почту Организатора info@waltdisney.ru с указанием темы письма &laquo;Сказки о весне&raquo; в срок до 3 апреля 2015г.</p>
<p>&nbsp;</p>
<p>25. В случае если Победитель не свяжется с Организатором и не передаст ему информацию, указанную в п. 24 Правил, в срок, указанный в п. 24 Правил, Организатор имеет право распорядиться Призом по своему усмотрению.</p>
<p>&nbsp;</p>
<p>26. Отправка Призов осуществляется почтовой или курьерской службой по почтовому адресу, указанному Победителем, за счет Организатора в срок до 1 мая 2015г. Отправка пригласительных билетов на мюзикл &laquo;Красавица и Чудовище&raquo;, входящих в Главный приз, осуществляется почтовой или курьерской службой по почтовому адресу, указанному Победителем, за счет Организатора в срок до 10 апреля 2015г.</p>
<p>&nbsp;</p>
<p>27. Победитель может отказаться от Приза, уведомив об этом Организатора по электронной почте или по телефону и обеспечив доставку письма, содержащего уведомление об отказе, на почтовый адрес Организатора (Российская Федерация, 121099 г. Москва, Новинский бульвар, д. 8.) не позднее 3 апреля 2015 г. В уведомлении должны содержаться фамилия, имя и отчество, паспортные данные Участника, сообщение об отказе от Приза, дата составления уведомления и собственноручная подпись Участника с расшифровкой.</p>
<p>&nbsp;</p>
<p>28. В том случае, если Победитель откажется принять Приз или если Приз не будет передан Победителю в срок, указанный в п. 26 Правил по обстоятельствам, не зависящим от Организатора, или Победитель не свяжется с Организатором и не передаст ему необходимую в соответствии с п. 24 Правил информацию до даты, указанной в п. 24 Правил, Организатор имеет право распорядиться Призом по своему единоличному усмотрению.</p>
<p>&nbsp;</p>
<h1>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h1>
<p>&nbsp;</p>
<p>29. Во избежание сомнений, положения настоящего раздела &laquo;ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ&raquo; применяются также и к отношениям Организатора с Главным победителем касательно Главного приза. </p>
<p>&nbsp;</p>
<p>30.Конкурс, Правила, а также любая деятельность, связанная с Конкурсом, регулируются законодательством Российской Федерации.</p>
<p>&nbsp;</p>
<p>31. Факт участия в Конкурсе означает, что Участник даёт согласие на то, что его имя, фамилия, размещённая им в рамках Конкурса публикация и иная информация о нём могут быть использованы Организатором, уполномоченными им лицами и/или его рекламными агентствами в рекламных целях и в целях информирования о Конкурсе в любой стране мира без ограничения срока и без уплаты какого-либо вознаграждения Участнику.</p>
<p>&nbsp;</p>
<p>32. Обязанности по уплате налогов и сборов, установленные действующим законодательством, определяются в соответствии с действующим законодательством Российской Федерации. Партнёр несёт функции налогового агента в соответствии с действующим законодательством Российской Федерации. В случае выплаты денежной части Приза Победитель не возражает и дает свое письменное согласие на удержание Партнёром из денежного приза налога на доходы физических лиц в расчете из стоимости полученного Победителем Приза (как в денежной, так и в натуральной форме). В случае если Победитель не даёт такого согласия, Партнёр вправе отказать Победителю в выдаче Приза и распорядиться Призом по своему усмотрению. </p>
<p>Победителям не может быть выплачен денежный эквивалент стоимости Приза. В случае если Партнёр не может выполнить функции налогового агента, то Победитель, ставший обладателем Приз, несёт обязанность по уплате всех применимых налогов в случаях, установленных действующим законодательство Российской Федерации.</p>
<p>&nbsp;</p>
<p>33. Ответственность Организатора по выдаче Призов ограничена исключительно вышеуказанным количеством и видами этих Призов.</p>
<p>&nbsp;</p>
<p>34. Организатор не организует повторную доставку Призов, в случае если Участник указал неверный почтовый адрес, в случае отсутствия Участника по указанному адресу или в иных случаях, если приз не был вручён по обстоятельствам, напрямую не зависящим от Организатора.</p>
<p>&nbsp;</p>
<p>35. Доставленные Призы не могут быть обменяны на другие Призы. В случае отказа от Приза, Приз не может быть заменён на другой Приз. Правилами не предусмотрено хранение невостребованных Призов и возможность их востребования по истечении срока, указанного в п. 26 Правил. Все невостребованные Призы остаются у Организатора, который может использовать их по своему усмотрению.</p>
<p>&nbsp;</p>
<p>36. Организатор не несет ответственности за работу почтовых и курьерских служб. Организатор считается исполнившим свою обязанность по выдаче Приза Победителю с момента передачи Приза почтовой или курьерской службе. </p>
<p>&nbsp;</p>
<p>37. Претензии относительно качества Призов должны предъявляться непосредственно производителям/исполнителям соответствующих товаров/услуг, входящих в Призы. Целостность и функциональная пригодность товаров, предоставляемых в качестве Призов должна проверяться Участником непосредственно при получении Приза. Организатор не несёт ответственности за любые повреждения такого товара, возникшие после передачи Приза почтовой или курьерской службе.</p>
<p>&nbsp;</p>
<p>38. Определение Победителей не носит случайного характера. Конкурс не является лотереей.</p>
<p>&nbsp;</p>
<p><strong>ПЕРСОНАЛЬНЫЕ ДАННЫЕ</strong></p>
<p>&nbsp;</p>
<p>39. Размещая публикацию в рамках Конкурса в порядке, предусмотренном п. 9 Правил, Участник выражает свое добровольное и безусловное согласие на обработку его персональных данных в соответствии с Правилами и действующим законодательством Российской Федерации. Организатор осуществляет обработку персональных данных в соответствии с Правилами и действующим законодательством Российской Федерации. При этом в качестве юридических оснований обработки персональных данных выступают необходимость исполнения договора, заключенного между Организатором и Участником в соответствии с п. 5 Правил (далее &ndash; &laquo;Договор&raquo;).</p>
<p>&nbsp;</p>
<p>40. Целями обработки персональных данных являются: </p>
<p>- проведение Конкурса, в том числе организация участия Участников в Конкурсе;</p>
<p>- отправка Главным победителям и Победителям Призов;</p>
<p>- направление Участникам рекламных предложений;</p>
<p>- проведение маркетингового анализа и подготовка статистической информации.</p>
<p>&nbsp;</p>
<p>В указанных выше целях Организатор вправе совершать в отношении персональных данных Участников следующие действия: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача третьим лицам (предоставление, доступ), распространение, обезличивание, блокирование, удаление и уничтожение. Обработка персональных данных может включать в себя трансграничную передачу персональных данных.</p>
<p>&nbsp;</p>
<p>41. В целях исполнения Договора Участникам необходимо предоставить Организатору или указанным им лицам полные фамилию, имя, отчество; почтовый адрес; контактный телефон; иные данные, предусмотренные Правилами. </p>
<p>&nbsp;</p>
<p>42. Персональные данные, полученные с согласия Участника, заносятся Организатором в специально защищенную базу данных.</p>
<p>&nbsp;</p>
<p>43. Обработка персональных данных может осуществляться Организатором с применением автоматизированных средств обработки данных. Участник вправе получить полную и достоверную информацию о лице, осуществляющем обработку персональных данных, в соответствии с Федеральным законом № 152-ФЗ &laquo;О персональных данных&raquo; путем обращения к Организатору.</p>
<p>&nbsp;</p>
<p>44. Участник имеет право на получение сведений об Организаторе, о месте его нахождения, о наличии у него персональных данных, относящихся к соответствующему Участнику. Кроме того, Участник имеет право на ознакомление с такими персональными данными в письменной форме (по соответствующему письменному запросу, содержащему номер основного документа, удостоверяющего личность Участника, сведения о дате выдачи указанного документа и выдавшем его органе, сведения, подтверждающие факт наличия правовых отношения Участника с Организатором, либо сведения, иным образом подтверждающие факт обработки персональных данных Организатором, а также собственноручную подпись Участника).</p>
<p>&nbsp;</p>
<p>45. Организатор обеспечивает конфиденциальность персональных данных в установленном законом порядке.</p>
<p>Участник данных вправе отозвать свое согласие, отправив электронное письмо по адресу электронной почты Организатора <a href="mailto:info@waltdisney.ru">info@waltdisney.ru</a>, указав в уведомлении свои фамилию, имя, отчество, возраст, которые Участник сообщал для участия в Конкурсе в числе своих регистрационных данных и обеспечив доставку письма, содержащего отказ, на почтовый адрес Организатора - Российская Федерация, 121099 г. Москва, Новинский бульвар, д. 8.</p>
<p>&nbsp;</p>